

 <div class="container">
  <h3 class="text-center m-3">Currency Converter</h3>
    <div class="row" >
    <div class="col-md-6">
        <div class="form-group" >
          <label for="currency"> From</label>
          <select  class="form-control" [(ngModel)]="selectCurrency">
            <option [value]="arr" *ngFor="let arr of contryArr" >{{arr}}</option>
          </select>
          <input type="number" class="form-control mt-3" [(ngModel)]="fromAmount" >
        </div>
       
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="currency"> To </label>
        <select name="" id="" class="form-control" [(ngModel)]="convertedCurrency">
          <option [value]="arr" *ngFor="let arr of contryArr" >{{arr}}</option>
        </select>
        <input type="number" class="form-control mt-3" [(ngModel)]="resultAmount">
      </div>
      
    </div>
      </div>
      <button class="btn btn-primary" (click)="onConvert()">Convert</button>
</div>

